footer{
    display: flex;
    flex-direction: row;
    padding-block: 24px;
    padding-block: 4px;
    font: 14px/150%;
    gap: 20px;
    padding-block: 24px;
}
footer span:nth-child(1){
    margin-right: auto;
}