header{
    display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    font: var(--text-lg);
    color: var(--text-primary);
}
#profile{
    width: 592px;
    height: 167px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-bottom: 4px;
}
#profile img{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
}
#about{
    max-width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
#about p{
    font: var(--text-md);
}

#info ul{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: var(--text-md);
}
#info li{
    display: flex;
    align-items: center;
    gap: 8px;
}